@charset "utf-8";
/* CSS Document */
/*全局控制*/
body{margin:0; padding:0; font:12px "微软雅黑";background:#E6D9D0;}
img,ul,li,h1,p,input,dl,dt,dd{margin:0; padding:0; border:0; list-style:none;}
/*top_wrap*/
.top_wrap{height:30px;width:100%;background:url(../img/top_bg.png) repeat-x;}
.top{width:1014px; height:30px; margin:0 auto;}
.top .top_l{width:750px; height:30px;float:left;}
.top p{width:264px; height:30px; text-align:center;line-height:30px; float:right;}
.top p a{text-decoration:none;color:#ccc;margin-right:10px;}
.top p a:hover{color:#A98981;}
/*title*/
.title_wrap{width:100%;height:61px;background:url(../img/top_bg2.gif) repeat-x;}
.title{width:1014px;height:61px;margin:0 auto;}
.title_l{width:290px; height:14px;float:left;padding:24px 0 23px 155px;}
.title_c{width:104px;height:38px;float:left;padding:13px 0 10px 0;}
.title_r{width:272px;height:22px;float:right;padding:19px 0 20px 0;position:relative;}
.search{width:188px;height:20px;border:1px solid #5D1F10;background:#741D09;color:#EFEFEF;font-size:12px;float:left; position:relative;padding-left:10px;}
.sousuo{position:absolute;right:86px;bottom:25px;line-height:13px;}
.sousuo a{text-decoration:none;color:#EFEFEF;font-size:12px;}
.sousuo a:hover{color:#33F;}
.title_r span{width:7px;height:5px;background:url(../img/search.gif) no-repeat;position:absolute;right:114px;bottom:29px;}
.title_r .weibo{float:left;margin-left:10px;}
.title_r .weixin{float:left;margin-left:4px;}
/*nav*/
.nav_wrap{width:100%;height:31px;background:url(../img/nav_bg.gif) repeat-x;}
.nav_wrap ul{width:1014px;height:31px;margin:0 auto;font-size:12px;}
.nav_wrap li{height:29px;width:144px;float:left;text-align:center;line-height:29px;}
.nav_wrap li a{text-decoration:none;color:#FFF;height:29px;width:144px;display:block;}
.nav_wrap li a:hover{height:29px;width:144px;background:url(../img/nav_hover.gif) no-repeat center;}
/*banner*/
.banner{width:1920px;height:634px;margin:0 auto;cursor:pointer;position:relative;overflow:hidden;}
.banner ul{width:7680px;position:absolute;left:0;top:0;}
.banner li{float:left;}
.banner li a{height:634px;display:block;}
.btn_left,.btn_right{}
.banner_r img{position:absolute;right:260px;top:0;z-index:99;}
.banner_r .nomargin{margin:0;}
.banner_bg{width:100%;height:14px;background:url(../img/banner_bg.gif) repeat-x;overflow:hidden;}
/*con_wrap*/
.con_wrap{width:946px;height:472px;margin:36px auto 0;}
.con_wrap ul{width:946px;height:472px;}
.con_wrap li{float:left;width:288px;height:166px;border:2px solid #F4E8DC;margin:0 35px 34px 0;overflow:hidden;opacity:0.7;position:relative;}
.con_wrap li a{display:block;text-decoration:none;color:#FFF;}
.con_wrap li a:hover{color:#CCC;}
.con_wrap .nomargin{margin:0;}
.con_wrap li img{width:288px;height:166px;}
.con_wrap p{width:274px;height:26px;background:#8B5A51;padding:8px 0 0 14px;font-size:14px;position:absolute;left:0;bottom:-34px;}
/*foot*/
.foot_wrap{width:100%;height:311px;background:url(../img/foot_bg.gif) repeat-x;}
.foot_wrap .foot{width:946px;height:188px;margin:0 auto;padding-top:22px;}
.foot dl{float:left;width:147px;height:186px;padding:24px 0 0 45px;background:#url(../img/foot_red.gif) no-repeat right 1px;}
.foot dt{height:28px;font-size:12px;font-weight:bold;}
.foot dt a{text-decoration:none;color:#FFF;}
.foot dt a:hover,.foot dd a:hover{text-decoration:underline;}
.foot dd{height:18px;width:110px;}
.foot dd a{text-decoration:none;color:#BCA383;}
.foot .noline{background:none;width:133px;}
.foot .buy{height:36px;}
.foot_bot{width:1000px;height:79px;margin:22px auto;}
.foot_bot_l{float:left;width:400px;height:59px;padding-top:20px;}
.list{width:161px;height:19px;border:1px solid #A9A9A9;}
.foot_bot_l select{color:#333333;font-size:12px;}
.foot_bot_l a{margin-right:8px;text-decoration:none;color:#FFF;}
.foot_bot_l .line{margin-right:8px;color:#FFF;}
.foot_bot_l .help{margin-left:5px;}
.foot_bot_r{float:right;width:242px;height:54px;padding-top:25px;color:#FFF;}
/*template*/
/*list_banner*/
.list_banner{width:100%;height:634px;margin:0 auto;background:url(../img/banner_2.jpg) no-repeat center center;cursor:pointer;position:relative;}
.list_banner img{position:absolute;right:260px;top:0;}
/*list_con*/
.list_con{width:949px;overflow:hidden;margin:0 auto;padding-top:42px;position:relative;}
.list_con p{height:47px;font-size:24px;}
.list_con dl{width:134px;height:235px;border-right:1px solid #CDC2BE;border-bottom:1px solid #CDC2BE;float:left;padding:57px 51px 0 50px;background:url(../img/list_bg.gif) repeat-x;margin-right:1px;margin-bottom:21px;overflow:hidden;}
.list_con dt img{width:144px;height:99px;display:block;}
.list_con dd{width:114px;height:37px;margin:22px 0 0 15px;font-size:16px;}
.list_con .details{width:90px;height:27px;background:#50281E url(../img/list_details.gif) no-repeat 93px center;font-size:14px;padding:5px 0 0 24px;}
.list_con .txt{text-align:center;}
.list_con .txt a{color:#50281E;}
.list_con dl a{text-decoration:none;color:#FFF;display:block;}
.list_con .nomargin{margin:0;}
.list_con .last{margin-bottom:115px;}
.list_con .top{width:44px;height:44px;position:absolute;bottom:30px;right:0;}
.list_con .top a{display:block;width:44px;height:44px;}
/*detail_con*/
.detail_con{width:1000px;height:540px;margin:80px auto 80px;background:#FFF;}
.con_l{width:270px;height:372px;float:left;padding:168px 106px 0 104px;}
.con_r{width:520px;height:443px;float:left;padding-top:97px;}
.con_r h1{width:183px;height:60px;font-weight:normal;}
.con_r p{width:400px;height:121px;margin-top:25px;padding-top:22px;border-top:1px dashed #B2A7A5;border-bottom:1px dashed #B2A7A5;font-size:14px;color:#595757;}
.list_bot{width:400px;height:90px;margin-top:30px;}
.list_bot .heart{margin:0; padding:0 0 0 28px;border:0;width:80px;height:19px;background:url(../img/list_heart.gif) no-repeat;color:#723C29;font-size:16px;}
.list_bot .btn{float:left;width:134px;height:40px;border:0;margin-top:31px;padding-left:30px;outline:none;background:#50281E url(../img/buy.gif) no-repeat 20px center;font-size:16px;color:#FFF;}
.list_bot ul{width:172px;height:30px;float:right;margin-top:41px;}
.list_bot li{float:left;line-height:25px;margin:3px 5px 0 0;}